DATABASE_USER="retrotv"
DATABASE_PASSWORD="agregar password de base de datos"
DATABASE_HOST="localhost"
DATABASE_NAME="retrotv_db"
DATABASE_PORT="3306"
CORREO_EMISOR="poner su correo gmail"
PASSWORD_CORREO_EMISOR="generar contraseña de aplicacion en gmail"
RetroTV_API_KEY="RetroTV_API_KEYmTnC1JN9fBHKhkMbDxQXsJk3tWDkQ9fi76BMelgKbLynIyVho"
UPLOAD_PORTADAS="uploads/portadas"
AWS_ACCESS_KEY_ID="pegar aqui la clave de acceso"
AWS_SECRET_ACCESS_KEY="pegar aqui la clave secreta de acceso"
BUCKET_NAME="retrotv-bucket"
CLOUDFRONT_URL="https://d2xcijwl0618j2.cloudfront.net"
CF_PUBLIC_KEY_ID="K3QHG59II8VOP0"
PRIVATE_KEY_PATH="private_retrotv_key.pem"