.contenedor_header {
    height: 25vh;
    width: 100%;
  }
  
  .contenedor_navbar {
    height: 5vh;
    width: 100%;
    background-color: antiquewhite;
  }
  
  .contenedor_main {
    height: 65vh;
    width: 100%;
    display: flex;
  }
  
  .contenedor_sidenav {
    width: 15%;
    background-color: antiquewhite;
  }
  
  .contenedor_body {
    flex: 1;
    background-color: whitesmoke;
    overflow: auto;
  }
  
  .contenedor_footer {
    height: 5vh;
    width: 100%;
    background-color: rgb(78, 9, 41);
    clear: both;
  }
  