<div class="about">
  <div class="contenedor_mision">
    <h2>MISIÓN</h2>
    <p>
      Nuestra misión es preservar y difundir los encuentros deportivos más
      destacados de las ligas de Guatemala, así como las entrevistas y programas
      deportivos transmitidos por los canales nacionales. Nos enorgullece
      compartir la rica historia deportiva del país y acercarla a los
      aficionados de todas las generaciones.
    </p>
    <ul>
      <li>
        Celebrar los logros deportivos de los atletas guatemaltecos y reconocer
        su dedicación y esfuerzo.
      </li>
      <li>
        Revivir momentos históricos y emocionantes del deporte guatemalteco para
        que puedan ser apreciados y disfrutados en el presente.
      </li>
      <li>
        Promover el interés y la pasión por el deporte en Guatemala, inspirando
        a futuras generaciones de deportistas.
      </li>
      <li>
        Brindar un espacio de nostalgia y recuerdo para los amantes del deporte,
        permitiéndoles revivir los momentos más memorables de su historia
        deportiva personal.
      </li>
      <li>
        Dar acceso a información relevante como datos históricos y el contenido 
        audiovisual exclusivo de nuestro deporte a personas en todas partes del 
        mundo por medio de la tecnología. 
      </li>
    </ul>
  </div>
  <div class="contenedor_vision">
    <h2>VISIÓN</h2>
    <p>
      Buscamos convertirnos en la principal plataforma en línea para revivir los
      momentos más memorables del deporte guatemalteco. A través de nuestra
      galería de videos, queremos transportar a los usuarios a diferentes épocas
      y brindarles una experiencia única al revivir partidos legendarios,
      entrevistas emblemáticas y programas deportivos históricos. Además,
      aspiramos a fomentar la pasión por el deporte y promover la valoración de
      su importancia en la sociedad guatemalteca.
    </p>
    <ul>
      <li>
        Crear una comunidad en línea donde los fanáticos del deporte
        guatemalteco puedan conectarse, compartir recuerdos y discutir sobre los
        momentos más destacados.
      </li>
      <li>
        Colaborar con organizaciones deportivas y entidades relacionadas para
        enriquecer nuestra colección de videos y promover eventos y programas
        deportivos actuales.
      </li>
      <li>
        Ofrecer una experiencia interactiva que permita a los usuarios explorar
        y descubrir contenido relevante, facilitando la navegación y búsqueda de
        videos de interés.
      </li>
      <li>
        Contribuir al legado del deporte guatemalteco al preservar y difundir su
        historia a través de los avances tecnológicos y las plataformas en
        línea.
      </li>
    </ul>
  </div>
  <div class="contenedor_contactenos">
    <h2>CONTACTANOS</h2>
  </div>
</div>
